header {
    padding: 0.5em 2em;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#deselect-icon {
    background-color: white;
    color: white;
    border: none;
}
#deselect-icon img {
    color: blue;
    width: 3em;
    height: 3em;
}

#date-selector {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.year-container {
    margin-bottom: 0.5em;
    border-bottom: 2px solid var(--active-background-color);
    padding-inline: 1em;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
    gap: 1em;
}

.year-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    color: white;
    background-color: var(--active-background-color);


    border: none;
    border-radius: 0.4em 0.4em 0 0;
    padding: 0.4em 1em 0.1em;
}


.month-container {
    width: 100%;
    padding-inline: 1em;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
    gap: 0.4em;
}

.month-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--text-color);

    border: none;
    border-radius: 0.3em;
    padding: 0.15em 0.8em;
    background-color: var(--secondary-background-color);

    transition: 0.1s ease;
}

.month-btn:hover,
.month-btn:focus-visible {
    color: var(--text-hover-color);
    background-color: var(--hover-background-color);

    padding: 0.2em 1em;
    border-radius: 0.4em;
    transform: scale(1.1);
}

.month-btn-active,
.month-btn-active:hover,
.month-btn-active:focus-visible {
    color: white;
    background-color: var(--active-background-color);
}